.footerLink {
  color: #406dff;
  padding: 1rem;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer {
  background-color: #eaf4ff;
  margin-top: 2rem;
}

.legacyText {
  text-align: center;
}
